@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  font-family: "Outfit", sans-serif;
}

.main__box {
  background: hsl(0, 0%, 100%);
  padding: 17px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

.main__box .qr__img {
  width: 16.5rem;
  margin-bottom: 10px;
}

.main__box .qr__img img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 7px;
}

.main__box .heading {
  text-align: center;
}

.heading h2 {
  font-size: 21px;
  text-transform: capitalize;
  margin-bottom: 1rem;
  margin-top: 5px;
}

.main__box p {
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  color: hsl(220, 15%, 55%);
  padding-bottom: 10px;
}

.credit {
  margin-top: 60px;
}

.credit h3 a {
  text-decoration: none;
  color: hsl(218, 44%, 22%);
}

.credit h3 {
  font-size: 16px;
  text-transform: capitalize;
  text-align: center;
}

@media (max-width: 350px) {
  .main__box .qr__img {
    width: 14.5rem;
    margin: 0 auto;
  }

  .heading h2 {
    font-size: 19px;
  }

  .main__box p {
    font-size: 12px;
  }
}
